
nav.top.bar{
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

nav.top ul {
    list-style-type: none;
    margin: 0 20px 0 0;
    padding: 0;
    float: right;
    line-height: 70px;
}
nav.top ul li{display:inline-block}
nav.top ul .mobile_btn{display:none}
@media only screen and (max-width:768px){
  nav.top ul li{display:none}
  nav.top ul .mobile_btn{display:inline-block}
}
@media screen and (max-width:320px){
  nav.top ul .sign_in{display:none}
}
@media only screen and (max-width:353px){
  nav.top ul .mobile_btn.download_slack a{display:none}
}
nav.top ul a{
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 750;
    margin-left: 10px;
    position: relative;
    cursor: pointer;
    line-height: 1px;
    padding: 8px 7px 9px;
    color: #717274;
    border-radius:5px;
    opacity: 0.7;

}

nav.top ul .mobile{
    display: none;
}
nav.top ul a:hover{
  text-decoration:none;
  background: rgba(0,0,0,.1);
  opacity: 1;

}


.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.wall
{
    margin-top: 100px;
    padding: 10px 0px 20px 10px;
    border: 1px solid #e8e8e8;
    background: #fff;
    border-left-width: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
     
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}

.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
.bold{
  font-weight:bold;
}
.content{
  margin-top: 20px;
  text-align: center;
}
footer{
  border-top: 1px solid #e8e8e8;
    margin-top: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: #fff;
    padding: 40px 0 0;
    color: #717274;
}
footer section .grid{
  width: 100%;
}
footer section
{
    clear: both;
    box-sizing: border-box;
    max-width: 1014px;
    padding: 0 1.5rem!important;
    margin: 0 auto;
}
footer ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.col{
    display: block;
    float: left;
    margin: 0 0 2%;
    padding-right: 2%;
}
.list{
  width: 25%;
}

footer ul a,footer ul a:link,footer ul a:visited{color:#717274;text-decoration:none}

footer section 
{
    clear: both;
    box-sizing: border-box;
    max-width: 1014px;
    padding: 0 1.5rem!important;
    margin: 0 auto;
  }
section{
   width: 100%;
}
footer .footnote ul{
      margin: 0 20px 0 0;
    padding: 0;
    list-style-type: none;
    float: right;
}
footer .footnote ul li{
    display: inline-block;
    list-style: none;
    margin-right: .7rem;
    float: left;
    line-height: 50px;
}
div .modal-dialog .modal-footer a{
    text-decoration: none;
}


